<a href="https://colab.research.google.com/github/Charithareddy22/charithareddy/blob/main/Aggregation_%26_grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/Day_9_banking_data.csv")

In [4]:
#Data Exploration
print(df.head())

         Date       Account_Type    Branch Transaction_Type  \
0  2023-01-19      Fixed Deposit   Central     Loan Payment
1  2023-01-16            Current    Uptown       Withdrawal
2  2023-01-10            Current    Uptown     Loan Payment
3  2023-01-18            Savings    Uptown     Loan Payment
4  2023-01-14  Recurring Deposit  Suburban     Loan Payment

   Transaction_Amount  Account_Balance
0              985.51          6839.59
1              641.43          8908.39
2             3363.85         12428.67
3             1914.60          5776.63
4             2788.57          4779.04

In [5]:
print(df.describe())

       Transaction_Amount  Account_Balance
count           20.000000        20.000000
mean          2705.829500      7967.766500
std           1429.829787      2770.248821
min            641.430000      2592.160000
25%           1482.085000      6460.127500
50%           2567.645000      7905.275000
75%           4121.525000      9127.702500
max           4683.640000     12836.510000

In [6]:

# Check for missing values
print(df.isnull().sum())

Date                  0
Account_Type          0
Branch                0
Transaction_Type      0
Transaction_Amount    0
Account_Balance       0
dtype: int64

In [7]:
#Data Aggregation and grouping
# Total sum of Transaction_Amount per Account_Type
total_transaction_by_type = df.groupby("Account_Type")["Transaction_Amount"].sum()
print(total_transaction_by_type)

# Average Account_Balance per Account_Type
average_balance_by_type = df.groupby("Account_Type")["Account_Balance"].mean()
print(average_balance_by_type)

Account_Type
Current              15052.57
Fixed Deposit        14102.59
Recurring Deposit    15179.99
Savings               9781.44
Name: Transaction_Amount, dtype: float64
Account_Type
Current              9893.404000
Fixed Deposit        6120.380000
Recurring Deposit    7627.283333
Savings              9134.110000
Name: Account_Balance, dtype: float64

In [8]:
# Total number of transactions per branch
transactions_per_branch = df.groupby("Branch")["Transaction_Amount"].count()
print(transactions_per_branch)

# Average Transaction_Amount per branch
average_transaction_per_branch = df.groupby("Branch")["Transaction_Amount"].mean()
print(average_transaction_per_branch)

Branch
Central     8
Downtown    3
Suburban    5
Uptown      4
Name: Transaction_Amount, dtype: int64
Branch
Central     2942.338750
Downtown    3188.703333
Suburban    2773.278000
Uptown      1786.345000
Name: Transaction_Amount, dtype: float64