<a href="https://colab.research.google.com/github/Charithareddy22/charithareddy/blob/main/DS_Batch_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics of Python

In [ ]:
# @title Comments
# Single Line Comment
'''
Multi Line Comment
Adding two numbers and storing the value in sum (This statment will be completly ignored by python)
Press CTRL + Enter to run the program
'''
a = 2
b = 3
sum = a + b
print(sum)

5

# Print Function

In [ ]:
# print function
# Syntax for Print function
print() # correct syntax
Print() # Wrong Syntax

In [ ]:
print('Hello World') # Valid Syntax
print("Hello World") # Valid Syntax
n1 = 10
n2 = 20
sum = n1 + n2
print(sum) # Valid Syntax to print the value of sum
print('sum')

Hello World
Hello World
30
sum

In [ ]:
# There are two parameters in print function
'''
1) end parameter
2) sep parameter
'''
# Print both statments in a single line
print('Hello world', end = '\n') #Default value of end is '\n'(new line)
print('How are You?')
# Seperate two staments with @
print('rinex','gmail.com', sep = '@') # Default value of sep is ' ' (Space)

Hello world
How are You?
rinex@gmail.com

# Variable

In [ ]:
# Anything that can store any value in programming language is termed as variable
a = 10 # Here a is a variable
message = 'Hello World' # Here message is a variable
print(a)
print(message)
'''
Rules to write a variable
1) You cannot start the variable name with a number but you continue with it.
Ex : 1a - Invalid , a1 - Valid
2) We cannot use keywords as variable name.
Ex : print = 10 (Invalid)
3) Case sensitive
Ex :
a = 10
print(A) # Invalid syntax
a = 10
print(a) # Valid Syntax
'''

10
Hello World

'\nRules to write a variable\n1) You cannot start the variable name with a number but you continue with it.\nEx : 1a - Invalid , a1 - Valid\n2) We cannot use keywords as variable name.\nEx : print = 10 (Invalid)\n3) Case sensitive\nEx :\na = 10\nprint(A) # Invalid syntax\na = 10\nprint(a) # Valid Syntax\n'

# BASIC OPERATORS IN PYTHON

1) Arithmetic Operators

2) Comparison Operators

3) Logical Operators

4) Assignment Operators

In [ ]:
# @title Arithmetic Operators
'''
1) Addition (+)
2) Subtraction (-)
3) Division (/)
4) Multiplication (*)
5) Modulus (Remainder) (%)
6) Floor Division (//)
7) Exponent (**)
'''
a = 10
b = 5
sum = a + b
print("Sum is", sum)
diff = a - b
print("Difference is", diff)
qnt = a / b
print("Quotient is", qnt)
prod = a * b
print("PRoduct is", prod)

num1 = 5
num2 = 2
qnt = num1 / num2
print("Quotient is", qnt)
rem = num1 % num2
print("Remainder is", rem)
qnt_without_decimal = num1 // num2
print("Quotient without Decimal point", qnt_without_decimal)
pow = 5 ** 2 #This means 5 to the power 2
print(pow)

Sum is 15
Difference is 5
Quotient is 2.0
PRoduct is 50
Quotient is 2.5
Remainder is 1
Quotient without Decimal point 2
25

In [ ]:
# @title Comparison Operators
'''
1) Equal to (==)
2) Not Equal (!=)
3) Greater than (>)
4) Greater than or equal to (>=)
5) Lesser than (<)
6) Lesser than or equal to (<=)
'''
ex1 = (1 == 1)
print(ex1)
ex2 = (1 != 1)
print(ex2)
ex3 = (5 > 15)
print(ex3)
ex4 = (5 >= 5)
print(ex4)

True
False
False
True

In [ ]:
# @title Logical Operators
'''
1) Logical AND (and)
2) Logical OR (or)
3) Logical NOT (not)
'''
ex1 = (10 > 2) and (2 > 1) # If we use and operator both conditions should be True
print(ex1)
ex2 = (1 > 2) or (2 > 1) # If any one condition is True then the output is True
print(ex2)
ex3 = not False
print(ex3)

True
True
True

In [ ]:
# @title Assigment Operators
'''
0) Assignment (=)
1) Addition Assigment(+=)
2) Subtraction Assigment(-=)
3) Division Assigment(/=)
4) Multiplication Assigment(*=)
5) Modulus Assigment(Remainder) (%=)
6) Floor Division Assigment(//=)
7) Exponent Assigment(**=)
'''
ex1 = 5
#print(ex1)
ex1 += 5 #ex1 = ex1 + 5
print(ex1)
ex2 = 10
ex2 *= 5#ex2 = ex2 * 5
print(ex2)
ex3 = 5
ex3 **= 2 # ex3 = ex3 ** 2
print(ex3)

10
50
25

# CONDITIONAL STATMENT

1) IF statement

2) IF else Statement

3) IF elif else Statement

In [ ]:
# @title Example 1
# Check if the number is greater than 0 or not.
num = int(input('Enter the Number'))
if num > 0:
  print("Number is greater than 0")
elif num == 0:
  print("Number is equal to 0")
else:
  print("Number is lesser than 0")

Enter the Number7
Number is greater than 0