<a href="https://colab.research.google.com/github/Charithareddy22/charithareddy/blob/main/Numpy_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/Day_7_sales_data.csv")

In [3]:
print(df.head())

         Date Product Region    Sales  Profit  Quantity
0  2023-01-02  Tablet   East  1061.81  236.12         7
1  2023-01-06  Laptop  North  1926.07  246.34         8
2  2023-01-03  Tablet   East  1597.99  253.17         3
3  2023-01-20  Tablet  North  1397.99  242.23         1
4  2023-01-04  Laptop   West   734.03  140.36         4

In [4]:
print(df.describe())

             Sales      Profit   Quantity
count    20.000000   20.000000  20.000000
mean   1186.553000  211.533000   5.050000
std     461.528444   66.916251   2.543826
min     530.880000   82.160000   1.000000
25%     774.517500  166.515000   2.750000
50%    1104.865000  214.670000   5.000000
75%    1571.080000  248.047500   7.250000
max    1954.860000  364.970000   9.000000

In [5]:
total_sales_by_region = df.groupby("Region")["Sales"].sum()
print(total_sales_by_region)

Region
East      5818.93
North    10449.68
South      936.84
West      6525.61
Name: Sales, dtype: float64

In [6]:
most_sold_product = df.groupby("Product")["Quantity"].sum().idxmax()
print(f"The most sold product is: {most_sold_product}")

The most sold product is: Tablet

In [7]:
df["Profit Margin"] = (df["Profit"] / df["Sales"]) * 100
average_profit_margin = df.groupby("Product")["Profit Margin"].mean()
print(average_profit_margin)

Product
Keyboard      20.080696
Laptop        17.112734
Monitor       15.134989
Smartphone    23.703647
Tablet        19.955758
Name: Profit Margin, dtype: float64